Makefile.in
configure
config.h.in
lib/Makefile.in
libtool
INSTALL
doc/reference/Makefile.in
aclocal.m4
Makefile
autom4te.cache
config.h
config.log
config.status
stamp-h1
libcrystfel/libcrystfel.la
libcrystfel/src/*.o
libcrystfel/src/*.lo
libcrystfel/src/.dirstamp
libcrystfel/src/*.deps
libcrystfel/*.libs
libcrystfel/src/*.libs
tests/.libs
src/*.o
src/.deps
src/.libs
src/pattern_sim
src/process_hkl
src/get_hkl
src/hdfsee
src/indexamajig
src/compare_hkl
src/render_hkl
src/partialator
src/check_hkl
src/partial_sim
src/cell_explorer
src/ambigator
src/.dirstamp
*~
doc/reference/libcrystfel/*
gtk-doc.make
build-aux/compile
build-aux/config.sub
build-aux/install-sh
build-aux/missing
build-aux/config.guess
build-aux/depcomp
build-aux/ltmain.sh
build-aux/test-driver
/nbproject/private/
lib/.libs/
lib/dummy.lo
lib/libgnu.la
libcrystfel/crystfel.pc
version.h
