Makefile.in
configure
config.h.in
lib/Makefile.in
libtool
doc/reference/Makefile.in
aclocal.m4
Makefile
autom4te.cache
config.h
config.log
config.status
stamp-h1
libcrystfel/libcrystfel.la
libcrystfel/src/*.o
libcrystfel/src/*.lo
libcrystfel/src/.dirstamp
libcrystfel/src/*.deps
libcrystfel/*.libs
libcrystfel/src/*.libs
tests/.libs
src/*.o
src/.deps
src/.libs
src/pattern_sim
src/process_hkl
src/get_hkl
src/hdfsee
src/indexamajig
src/compare_hkl
src/powder_plot
src/render_hkl
src/partialator
src/check_hkl
src/sum_stack
src/partial_sim
src/.dirstamp
*~
doc/reference/*
