Makefile
autom4te.cache
config.h
config.log
config.status
stamp-h1
src/*.o
src/.deps
src/pattern_sim
src/process_hkl
src/get_hkl
src/hdfsee
src/indexamajig
src/compare_hkl
src/powder_plot
src/render_hkl
src/calibrate_detector
src/facetron
src/cubeit
src/reintegrate
src/estimate_background
src/check_hkl
*~
/arg-nonnull.h
/c++defs.h
/warn-on-use.h
